@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.mxs {
  margin: 6% 10%;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #ecf0f3; */
}
.full {
    width: 100%;
    object-fit: contain;
    height: 400px;
}
.fits {
  margin-top: 6rem;
}
.hov:hover {
  background: #ff014f;
}
#blog {
  margin: 0 15%;
}
.blog {
  margin: 2% 15%;
  padding: 2% 0;
}
 .container {
  max-width: 95%;
  margin: auto;
}
.f_flex {
  display: flex;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.btn_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.btn_shadow:hover {
  background: #f2014f;
}
.box_shodow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}
.top {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .blog {
    margin: 2% 6%;
    padding: 2% 0;
  }
  .px{
    font-size: 20px;
    text-align: center;
  }
  .snt {
    font-size: 25px !important;
  }
  #blog {
    margin: 0 7%;
  }
  .mails {
    display: grid;
  }
  .email {
    margin-bottom: 1.6rem;
  }
  .icon {
    display: flex;
    justify-content: space-between;
  }
  .swert {
    margin-left: auto !important;
  }
  .p {
    font-size: 12px !important;
  }
  .p2 {
    font-size: 20px;
  }
  .full {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
}